.header-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
  background-color: #D69620;
  background-image: url("../images/asfalt-light.png");
  padding: 2em 0; 
}
