.new-tweet textarea {
  width: 100%;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #555149;
  border-bottom-width: thick;
  font-weight: bold;
  color: #555149;
}

.new-tweet button {
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  border-radius: 3px;
  transition-duration: 0.4s;
}

.new-tweet button:hover {
  color: #F13E20;
}

.new-tweet button:active {
  transform: translateY(3px);
}

.new-tweet .tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

/* Linked to composer-char-counter in scripts */
.turn-red-counter {
  color: red;
}