textarea {
  width: 100%;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #555149;
  border-bottom-width: thick;
  font-weight: bold;;
  color: #555149;
}

button {
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee';
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  
}