article.tweet {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border: 3px solid #555149;
  border-width: thick;
  margin-bottom: 30px;
  padding: 25px;
}

article.tweet:hover {
  box-shadow: 10px 10px 5px 0px #4057a174;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  width: 100%;
}

article.tweet img {
  max-height: 50%;
  max-width: 50%;
  margin-right: 0.5em;
}

article.tweet h3 {
  width: 50%;
  font-size: 1.0em;
  font-weight: lighter;
}

article.tweet h4 {
  color: #C3CDDA;
  width: 50%;
  text-align: right;
  font-size: 1.0em;
}

article.tweet content {
  width: 100%;
  border-bottom: 3px solid #555149;
  border-width: thick;
  padding-bottom: 1.0em;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
  font-size: 0.9em;
}

.icons {
  color: #4056A1;
  display: flex;
  justify-content: flex-end;
}

.icons i {
  margin-right: 0.75em;
}

.icons i:hover {
  color: #CA9824;
}